{% extends "admin/change_list.html" %}
{% load i18n %}

{% block content_title %}
    <h1>{{ cl.opts.verbose_name_plural|capfirst }}</h1>
    <p class="help"><strong>Ak potrebujete opraviť údaje dotácie</strong>:
    <ol class="help">
        <li>Otvorte dotáciu, zmeňte znamienko sumy na záporné a uložte. Tým sa dotácia odpočíta od príslušnej rozpočtovej položky. </li>
        <li>Znova otvorte dotáciu, zadajte novú sumu alebo len zmeňte znamienko sumy, opravte chybné položky a uložte. </li>
    </ol>
    </p>
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}

